:root {
    --color-principal:#FFFFFF;
    --color-secundario:#4D95EF;
    --color-terciario:#EEEFF2;
    --color-cuatro:#0A0A0A;
    --color-cinco:#888888;
    --font-principal:'Schoolbell', cursive;
    --font-secundaria:'Nunito Sans', sans-serif;
}

body {
    background-color: var(--color-principal);
    padding:0px;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
    font-family: var(--font-principal);
    padding: auto;
    margin: auto;
}
::placeholder {
    padding: auto;
    color: var(--color-cinco);
    font-family: var(--font-principal);
  }
header {
    width: auto;
    border-bottom: 1px solid var(--color-terciario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p{
    margin: 0;
    padding:5px 10px;

}
#fechaActual {
    color: var(--color-cinco);
}
header .date {
    font-size: xx-large;
}
.dias {
    width: 100vw;
    text-align: center;

}
.dias a {
    text-decoration: none;
    color: var(--color-cuatro);
}
.agregar button {
    background-color: var(--color-secundario);
    border: none;
    border-radius: 10px;
    height: 60px;
    color: var(--color-principal);
}
button:hover {
    background-color: var(--color-principal);
    border: 1px solid var(--color-secundario);
    color: var(--color-secundario);
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.tasks {
    padding: 10px;
    max-width:600px ;
    margin: auto;
}
li {
    margin: 10px 0;

}
li a:hover {
    color: var(--color-secundario);
}
li a:active {
    color: var(--color-secundario);
}


.agregar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task_box {
    background-color:var(--color-terciario);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px 0;
}
ul#listaTareas {
    margin-top: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
ul#listaTareas li{
    background-color: var(--color-terciario);
    margin-bottom: 0px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
ul#listaTareas:hover li{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    
}
ul#listaTareas:hover p{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    
}
ul#listaTareas h3{
    width: 83%;
    font-size: inherit;
    padding: 0px 10px;
}
ul#listaTareas p{
   color: var(--color-cinco);
   padding: 0px 10px;
}
ul#listaTareas p:nth-of-type(2){
    display: none;
    
 }

ul#listaTareas:hover p:nth-of-type(2) {
    display: block;
}
 
ul#listaTareas li {
    width: 100%;
}
#tituloInput {
    width: 85%;
    border: 1px solid var(--color-cinco);
    border-radius: 6px;

}
#horaInput {
    border: 1px solid var(--color-cinco);
    border-radius: 6px;

}
#detallesInput {
    border: 1px solid var(--color-cinco);
    border-radius: 6px;

}
.agregar .agregar_box {
    display: flex;
    justify-content: space-between;
}
.task_box:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px 0;
}
.task_box_line {
    display: flex;
    justify-content: space-between;
}
.task_box .hours {
    color: var(--color-cinco);
}
.task_box:hover .hours {
    color: var(--color-principal);
}
.task_box .task_box_details {
    display: none;
}
.task_box:hover .task_box_details {
    display: block;
}
.task_box:active .task_box_details {
    display: block;
}
footer {
    width: 100vw;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
}
footer p{
   padding: 0;
   margin: 0;
}
footer a {
    text-decoration: none;
    color: var(--color-principal);
}
footer a:hover {
    text-decoration: none;
    color: var(--color-cuatro);
}